$loaderSize: 40px;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.page-refresh-preloader {
    position: fixed;
    top: 0;
    left: 50%;
    width: $loaderSize;
    height: $loaderSize;
    margin: 5px -.5 * $loaderSize;
    background: url("../images/design/proloader.svg") scroll transparent no-repeat center;
    background-size: contain;
    font-size: 100%;
    z-index: 999;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: 1s;
    opacity: 0;
    visibility: hidden;

    &.show-animation{
        animation: spin .75s linear infinite;
    }

    &.show-half{
       opacity: .3;
        visibility: visible;
        animation-duration: .75s;
    }

    &.show-all{
        opacity: 1;
        visibility: visible;
        animation-duration: .25s;
    }
}

.test-scroll{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
