$loaderSize: 3em;
$preloadreBackground: url("../images/design/proloader.svg") scroll transparent no-repeat center;
$preloadreBackgroundSize: contain;
$preloadreFontSize: 100%;
$preloadreAnimation: spin .4s linear infinite;
$preloadreBorderRadius: 0;
$preloadreTransition: none;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pre-loader {
    position: fixed;
    top: 0;
    left: 50%;
    width: $loaderSize;
    height: $loaderSize;
    margin: -.5 * $loaderSize;
    opacity: 0;
    visibility: hidden;
    //.border-radius(100%);
    background: $preloadreBackground;
    background-size: $preloadreBackgroundSize;
    font-size: $preloadreFontSize;
    border-radius: $preloadreBorderRadius;
    transition: $preloadreTransition;
    z-index: 999;

    opacity: 1;
    visibility: visible;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    animation: $preloadreAnimation;
    &.loader-show {
        opacity: 1;
        visibility: visible;
    }

    &.animation-show {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        animation: $preloadreAnimation;
    }
}
